header {
    opacity: 0;
    transition: opacity .5s .25s ease-out;
}

header.is-visible {
    opacity: 1;
}

.is-visible .heading {
    transform: translate(-50%, -50%);
}

html {
    scroll-behavior: smooth;
}
#about-country {
    font-family: 'Oswald', sans-serif;
}
.main-head {
    font-family: 'Oswald', sans-serif;
}
.p1-about {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 24px;
}