<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>ChanaSite - Contact Me</title>
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Chanakan Mungtin">
    <meta charset="utf-8">
    <link href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:25px;">
    <a class="navbar-brand" href="">ChanaSite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-me">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Support</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <form id="contact-form" th:action="@{/contact}" th:object="${contact}" method="post" role="form">

        <div class="messages"></div>

        <div class="controls">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_name">Firstname</label>
                        <input id="form_name" type="text" th:field="*{FirstName}" name="name" class="form-control" placeholder="Please enter your firstname" required="required" data-error="Firstname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_lastname">Lastname</label>
                        <input id="form_lastname" type="text" th:field="*{LastName}" name="surname" class="form-control" placeholder="Please enter your lastname" required="required" data-error="Lastname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">Email</label>
                        <input id="form_email" type="email" th:field="*{Email}" name="email" class="form-control" placeholder="Please enter your email" required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_need">Reason For Contacting</label>
                        <select id="form_need" name="need" th:field="*{ContactReason}" class="form-control" required="required" data-error="Please specify the reason for contacting">
                            <option value="Request Custom Product">Request Custom Product</option>
                            <option value="Request Order Status">Request Order Status</option>
                            <option value="Question About a product">Question about a product</option>
                            <option value="Other">Other</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_message">Message</label>
                        <textarea id="form_message" name="message" th:field="*{Message}" class="form-control" placeholder="Description" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success btn-send" value="Send message">
                </div>
            </div>
        </div>

    </form>
</div>
<ol class="breadcrumb" style="margin-top: 150px;">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Contact Me</li>
</ol>
<div class="container"><p class="lead" style="display:block;margin: 5px 5px 10px;text-align:center;font-size:16px;">Made with <span style="color:red">♥</span> by Chanakan Mungtin</p></div>
</body>
</html>